
.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    background-color: rgb(212, 176, 221);
    height: 95vh;
    border: solid 10px purple;
}

.legend{
    font-size: 30px;
    color: purple;
    font-weight: bold;
}

#form{
    grid-column: 1;
    padding-top: 15px;
}

.border{
    border: solid 8px purple;
    height: 85vh;
}

::placeholder{
    color: pink;
}

.reflectionDate{
    padding: 15px;
    margin-left: 23%;
    font-size: 25px;
    color: purple;
    font-weight: bold;
}

#date{
    background-color: purple;
    color: pink;
    font-size: 15px;
    border: solid 3px pink;
    
}

.reflectionBody{
    grid-row: 2/5;
    font-size: 25px;
    padding: 15px;
    margin-left: 15%;
    
}

#reflectionText{
    background-color: purple;
    color: pink;
    font-size: 15px;
    border: solid 3px pink;
}

.confidenceLevel{
    grid-row: 6;
    width: 50%;
    font-size: 16px;
    background-color: purple;
    font-weight: bold;
    color: pink;
    padding: 10px;
    margin-left: 24%;
    margin-top: 10px;
    border: solid 3px pink;
}

.save{
    grid-row: 7;
    width: 35%;
    font-size: 16px;
    background-color: purple;
    font-weight: bold;
    color: pink;
    padding: 10px;
    margin-left: 31%;
    margin-top: 24px;
    border: solid 3px pink;
}

.renderedReflection{
    grid-column: 2;
    border: solid 8px purple;
    font-size: 30px;
    font-weight: bold;
    color: purple; 
    margin-top: 15px;
    
}

.reflectionText{
    font-size: 20px;
    color: purple;
    grid-column: 2;
    height: 65px;
    
}